NODE_ENV=production
HOST=0.0.0.0
PORT=4173
DATA_DIR=/app/data

ADMIN_USERNAME=admin
ADMIN_PASSWORD=troque-esta-senha

WHATSAPP_ACCESS_TOKEN=cole_o_token_da_meta_aqui
WHATSAPP_PHONE_NUMBER_ID=id_do_numero_remetente
WHATSAPP_TO=5565992524994
WHATSAPP_API_VERSION=v23.0
